.cover__subtitle {
    font-family: Inter, Arial, sans-serif;
    max-width: 360px;
    margin: 32px auto 0;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
  }

  @media screen and (max-width: 768px) {
    .cover__subtitle {
      font-size: 2,34vw;
    }
  }

  @media screen and (max-width: 552px) {
    .cover__subtitle {
      font-size: 14px;
      line-height: 1.14;
    }
  }

  @media screen and (max-width: 320px) {
    .cover__subtitle {
      margin-top: 16px;
    }
  } 