.footer__copyright {
    font-family: Inter, sans-serif;
    margin: 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.125;
  }

  @media screen and (max-width: 674px) {
    .footer__copyright {
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 478px) {
    .footer__copyright {
      margin-top: 48px;
      font-size: 14px;
      line-height: 1;
    }
  }
