.intro__facts {
    font-family: Inter, Arial, sans-serif;
    margin: 33px 0 0;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    list-style-type: none;
    padding-left: 0;
  }

@media screen and (max-width: 320px) {
    .intro__facts {
      margin-top: 34px;
    }  
}