@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_active/header__lang-link_active.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__illustration/lead__illustration.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__main-text/lead__main-text.css);
@import url(../blocks/lead/__text/lead__text.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__facts/intro__facts.css);
@import url(../blocks/intro/__fact-number/intro__fact-number.css);
@import url(../blocks/intro/__main-text/intro__main-text.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__image/photo-grid__image.css);
@import url(../blocks/places/places.css);
@import url(../blocks/places/__image/places__image.css);
@import url(../blocks/places/__link/places__link.css);
@import url(../blocks/places/__main-text/places__main-text.css);
@import url(../blocks/places/__paragraph/places__paragraph.css);
@import url(../blocks/places/__place/places__place.css);
@import url(../blocks/places/__title/places__title.css);
@import url(../blocks/places/__signature/places__signature.css);
@import url(../blocks/places/__website/places__website.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);