.cover__title {
    font-family: Inter, Arial, sans-serif;
    max-width: 560px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.055;
  }

  @media screen and (max-width: 552px) {
    .cover__title {
      font-size: 32px;
      line-height: 1.09;
    }
  }